{% extends 'home/header.html' %}
{% load static %}

{% block title %}
    Construction
{% endblock %}

{% block head %}
     <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
{% endblock %}

{% block content %}
    <div class='row'>
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <h1>Step 3/4 - Construction</h1>
        <form>
          <div class="form-group">
            <label for="unitSize">Unit Size</label>
            <select class="form-control" id="unitSize">
              <option>1 bedroom</option>
              <option>2 bedroom</option>
            </select>
          </div>
          <div class="form-group">
            <label for="design">Design</label>
            <select class="form-control" id="design">
              <option>Wood</option>
              <option>Glass</option>
              <option>Concrete</option>
            </select>
          </div>
          <div class="form-group">
            <label for="designSpecifications">Additional Design Specifications</label>
            <textarea class="form-control" id="designSpecifications" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="permit">Permit COMPLETED</label>
            <input class="form-control" type="text" placeholder="No" readonly>
          </div>
          <div class="form-group">
            <label for="permit">Foundation COMPLETED</label>
            <input class="form-control" type="text" placeholder="No" readonly>
          </div>
          <div class="form-group">
            <label for="permit">Building COMPLETED</label>
            <input class="form-control" type="text" placeholder="No" readonly>
          </div>
          <a href='{% url 'listing:financing' %}' class="btn btn-secondary mb-2">Previous</a>
          <a href='{% url 'listing:property' %}' class="btn btn-primary mb-2">Next</a>
        </form>
        </div>
    </div>
{% endblock %}