
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="icon" href="yardle-logo.png">
</head>


<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <nav class="navbar navbar-expand">
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a href='home.html' class='nav-link'><h2>Yardle</h2><img class='menuLogo' src='yardle-logo.png' alt='Yardle'></a>
                    </li>
                    <li class="nav-item">
                        <a href='how.html' class='nav-link'><h2>How It Works</h2></a>
                    </li>
                    <li class="nav-item">
                        <a href='sign-in.html' class='nav-link'><h2>Sign In</h2></a>
                    </li>
                </ul>
              </div>
            </nav>

        </div>
    </div>
    
    <div class='row'>
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <h1>Step 3/4 - Construction</h1>
        <form>
          <div class="form-group">
            <label for="unitSize">Unit Size</label>
            <select class="form-control" id="unitSize">
              <option>1 bedroom</option>
              <option>2 bedroom</option>
            </select>
          </div>
          <div class="form-group">
            <label for="design">Design</label>
            <select class="form-control" id="design">
              <option>Wood</option>
              <option>Glass</option>
              <option>Concrete</option>
            </select>
          </div>
          <div class="form-group">
            <label for="designSpecifications">Additional Design Specifications</label>
            <textarea class="form-control" id="designSpecifications" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Select Builder</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
              <option>{Builder 1 - Construction Cost}</option>
              <option>{Builder 2 - Construction Cost}</option>
              <option>{Builder 3 - Construction Cost}</option>
              <option>{Builder 4 - Construction Cost}</option>
              <option>{Builder 5 - Construction Cost}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="permit">Permit COMPLETED</label>
            <input class="form-control" type="text" placeholder="No" readonly>
          </div>
          <div class="form-group">
            <label for="permit">Foundation COMPLETED</label>
            <input class="form-control" type="text" placeholder="No" readonly>
          </div>
          <div class="form-group">
            <label for="permit">Building COMPLETED</label>
            <input class="form-control" type="text" placeholder="No" readonly>
          </div>
          <a href='financing.html' class="btn btn-secondary mb-2">Previous</a>
          <a href='property.html' class="btn btn-primary mb-2">Next</a>
        </form>
        
        </div>
    </div>
</body>