<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Yardle{% endblock %}</title>
    {% load static %}
    {% include 'home/dependencies.html' %}

    <link rel="stylesheet" type="text/css" href="{% static 'home/header.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <nav class="navbar navbar-expand">
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a href='home.html' class='nav-link'><h2>Yardle</h2><img class='menuLogo' src='{% static "images/yardle-logo.png" %}' alt='Yardle'></a>
                    </li>
                    <li class="nav-item">
                        <a href='#' class='nav-link'><h2>How It Works</h2></a>
                    </li>
                    <li class="nav-item">
                        <a href='#' class='nav-link'><h2>Sign In</h2></a>
                    </li>
                </ul>
              </div>
            </nav>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>