<html>
<head>
    <title>Contact Us</title>
    {% load static %}
    {% include 'home/dependencies.html' %}

    <link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
</head>

<body>
	<div class="navbar">
		<ul>
		  <li class="nav-left"><a href="">Home</a></li>
		  <li class="nav-right"><a href="">Profile</a></li>
		  <li class="nav-right"><a href="">Search Listings</a></li>
		  <li class="nav-right"><a href="">Create Listing</a></li>
		</ul>
	</div>

	<div class="home-title">
		<h1>Live Tiny in a Beautiful Yard in the City</h1>
	</div>
	
	
	
	<div class="search-div">
        <div class='recommended-listings'>
            <div class='a-recommended-listing'>
                <div class='recommended-img'>
                    <img src="{% static "images/tiny-house-1.jpg" %}">
                </div>
                <div class='recommended-description'>
                    <h2>Waterloo, Ontario</h2>
                    <h3>$200</h3>
                </div>
            </div>
            <div class='a-recommended-listing'>
                <div class='recommended-img'>
                    <img src="{% static "images/tiny-house-1.jpg" %}">
                </div>
                <div class='recommended-description'>
                    <h2>Waterloo, Ontario</h2>
                    <h3>$200</h3>
                </div>
            </div>
        </div>
        <div class='search-bar'>
            <input type="text" name="search" placeholder="Where do you want to live?">
        </div>
	</div>
</body>
</html>