{% extends 'home/header.html' %}

{% block title %}
    Sign in
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-8 offset-md-2">
          <h2 class="mb-3">Sign in</h2>
          <form method="post">
              {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <div class="invalid-feedback" style="display: block">{{ error }}</div>
                    {% endfor %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
                    <input type="text" class="form-control {{ form.username.errors|yesno:"is-invalid," }}" id="{{ form.username.id_for_label }}" placeholder="Enter username" maxlength="150" autocapitalize="none" autocomplete="username" name="username" autofocus required>
                    <small class="form-text text-muted">{{ form.username.help_text }}</small>
                    {% for error in form.username.errors %}
                        <div class="invalid-feedback" style="display: block">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label_tag }}</label>
                    <input type="password" class="form-control {{ form.password.errors|yesno:"is-invalid," }}" id="{{ form.password.id_for_label }}" placeholder="Password" autocomplete="new-password" name="password" required>
                    <small class="form-text text-muted">{{ form.password.help_text }}</small>
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback" style="display: block">{{ error }}</div>
                    {% endfor %}
                </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
            <br>
            <a href="{% url 'home:signup' %}">Don't have an account? Sign up</a> - <a href="{% url 'home:signup_corporate' %}">Corporate Sign up</a>
        </div>
    </div>
{% endblock %}