{% extends 'home/header.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block head %}
     <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
{% endblock %}

{% block content %}
<body>
	<div class='row'>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class='container'>
                <img src='{% static "images/backyard-2.jpg" %}' alt='Backyard' class='img-fluid'>
                <h2 class='centered'>Rent your backyard. Earn Money. Create Affordable Housing.</h2>
                <a class="btn" href="{% url 'listing:getstarted' %}">Get Started</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}